@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@700&display=swap');


.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background-color: #333;
}

.navbar.navbar-expand-lg.navbar-dark {
    font-family: 'Poppins', sans-serif;
}

.title{
    font-size: 10rem;
    color: white;
    text-shadow: 0 0 5px black;
    font-style: italic;
}

section {
    font-size: 2rem;
    padding: 2rem;
    background: rgba(129, 129, 129, 0.5);
    color: white;
}

body{
    margin: 0;
}

html{
    background-color: #333;
}
header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.bg-image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;

    transform: translateZ(-10px) scale(3);
}

.Carlos.Pace {
    width: 40%;
    float: right;
    margin-right: 100px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 5px;
}

.Co-Founder {
    text-align: center;
    font-family: "DM Sans", sans-serif;
}

.Jefferson.Unas{
    width: 40%;
    margin-left: 100px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 5px;
}

.CEO {
    text-align: center;
    font-family: "DM Sans", sans-serif;
}

.students {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.pace-img1 {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jeff-img1 {
    height: 50%;
    width: 51%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.About.Us {
    margin-bottom: 10%;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10%;
}

.text {
    font-family: "DM Sans", sans-serif;
    
}