@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@700&display=swap');

.bg-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.title {
    text-align: center;
    color: aliceblue;
    font-size: 100px;
    font-family: "Century Gothic";
    font-weight: bold;
    padding-top: 17%;
    text-shadow: 0 0 10px black;
    text-anchor: middle;
}

.nav-item {
    font-family: 'Poppins', sans-serif;
}

.section1 {
    font-size: 2rem;  
    padding: 2rem; 
    background-color: #333;
    color: white;
    margin-top: 30%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}

.cards, .card-title{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    left: 0;
    font-size: 50px;
}

.card-text{
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
}

.body{
    background-color: #333;
    overflow-x: hidden;
}
