
.bg-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    
}

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: oblique;
}

.title {
    text-align: center;
    color: aliceblue;
    font-size: 100px;
    font-family: "Century Gothic";
    padding-top: 17%;
}