@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.bg-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    
}

.navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.title {
    text-align: center;
    color: aliceblue;
    font-size: 100px;
    font-family: "Century Gothic";
    padding-top: 17%;
    text-shadow: 0 0 10px rgb(150, 138, 138);
}

.nav-item a{

    font-family: 'Poppins', sans-serif;
}